@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Core.DataTables.DataTablesModel

<table class="table-striped table-responsive-sm" id="@Model.Name">
    <thead>
        <tr>
            @foreach(var column in Model.ColumnCollection){
                <th>@column.Title</th>
            }
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="table-footer">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
    </div>
    <div class="table-result-count">
        <p>Showing 1 to 10 of 57 entries</p>
    </div>
</div>


<script asp-location="Footer">
    var columnCollections = @Json.Serialize(Model.ColumnCollection);
    var columnsTitles = columnCollections.map(col => col.title);
    var columnsTypes = columnCollections.map(col => col.render);
    var columns = columnCollections.map(col => col.data.charAt(0).toLowerCase() + col.data.substr(1));

    function tableDataDelete(event) {
        let id = $(event).attr("data-id");
        let url = $(event).attr("data-url");
        if (confirm("Are you sure to delete this row? This can't undone") == true) {
            text = "You pressed OK!";
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                }
            });
        }
    }
    (function readTableData()
    {
        $.ajax({
            url: "@Model.UrlRead.ActionName",
            type: "GET",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data != null && data != undefined) {
                    var tableRows = '';
                    for (var rowIndex in data) {
                        tableRows += '<tr>';
                        for (var index in columns) {

                            if (columns[index] == "id") {
                                if (columnsTypes[index] == @Json.Serialize((int)Render.Edit)) {
                                    tableRows += `<td><a class="btn btn-secondary" href="/admin/@Model.UrlUpdate.ControllerName/@Model.UrlUpdate.ActionName?${columns[index]}=${data[rowIndex][columns[index]]}">${columnsTitles[index]}</a></td>`;
                                } else if (columnsTypes[index] == @Json.Serialize((int)Render.Delete)) {
                                    tableRows += `<td><a class="btn btn-danger" onClick="tableDataDelete(this);" data-url="/admin/@Model.UrlDelete.ControllerName/@Model.UrlDelete.ActionName" data-id="${data[rowIndex][columns[index]]}">${columnsTitles[index]}</a></td>`;
                                } else if (columnsTypes[index] == @Json.Serialize((int)Render.Data)){
                                    tableRows += '<td>' + data[rowIndex][columns[index]] + '</td>';
                                }
                            } else {
                                if (typeof (data[rowIndex][columns[index]]) == "boolean") {
                                    if (data[rowIndex][columns[index]] == true)
                                        tableRows += '<td><span style="color:green;" class="material-symbols-outlined">check_circle</span></td > ';
                                    else {
                                        tableRows += '<td><span style="color:red;" class="material-symbols-outlined">cancel</span></td > ';
                                    }
                                } else {
                                    tableRows += '<td>' + data[rowIndex][columns[index]] + '</td>';
                                }
                            }


                        }
                        tableRows += '</tr>'
                    }
                    $('#@Model.Name tbody').append(tableRows);
                } else {
                    alert('Data not found');
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    })();
</script>